<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Space+Mono&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src="https://kit.fontawesome.com/e6dd140e65.js" crossorigin="anonymous"></script>
</head>

<body>

<div class="row">
    <div id="white-div" class="col-lg-6">
        <div id="white-text-div">
            <img src="{{ url_for('static', filename='images/img1.png') }}">
            <h1>Python David</h1>
            <p>Software Engineer</p>
            <a href="{{ url_for('contact') }}">
                <button type="button" class="btn btn-dark"><p id="email-button">Email Me</p></button>
            </a>

            <footer>
                <a href="https://www.twitter.com/iambarzini_"><i class="fa-brands fa-twitter fa-xl"></i></a>
                <a href="https://www.linkedin.com/in/david-barzini-a14617170/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                <a href="https://github.com/Python-David"><i class="fa-brands fa-github fa-xl"></i></a>
            </footer>
        </div>
    </div>

    {% block content %}{% endblock %}

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>
</html>