{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div id="grey-div" class="col-lg-6">
    <div id="grey-text-div">
        <h1 class="grey-h1">&lt;About Me&gt;</h1>
        <p class="grey-p">I am a freshly minted blockchain engineer with great enthusiasm and a high aptitude for
            learning. I am eager
            to join a tech company that builds out-of-the-box solutions for global clients. I am skilled in
            developing plans, managing projects, and user documentation.</p>
        <a href="{{ url_for('download') }}"><button type="button" class="btn btn-dark grey-buttons"><p id="resume-button">Resume <i
                class="fa-solid fa-download fa-lg fa-bounce"></i></p></button></a>
        <a href="https://github.com/Python-David"><button type="button" class="btn btn-dark grey-buttons"><p id="portfolio-button">Portfolio</p></button></a>

        <p class="grey-footer-p">© 2022, Python David. All Rights Reserved.</p>
    </div>
</div>

{% endblock %}